@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h4>In order to delete the record for @Model.FirstName, please reassign or delete @Model.FirstName's clients:</h4>
@using (Html.BeginForm())
{
  <input name="id" value="@Model.StylistId" hidden>
  @foreach (Client client in Model.Clients)
  {
    <label>@client.FirstName @client.LastName:</label>
    <select name="@client.ClientId">
      <option value="0">Delete</option>
      @foreach (Stylist stylist in ViewBag.Stylists)
      {
        <option value="@stylist.StylistId">Reassign to @stylist.FirstName @stylist.LastName</option>
      }
    </select>
    <br>
  }
  <input class="submit-button" type="submit" value="Delete Stylist and Save Changes" />
}