@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h4>In order to delete the record for @Model.FirstName, please reassign or delete @Model.FirstName's clients:</h4>
@using (Html.BeginForm())
{
  @foreach (Client client in Model.Clients)
  {
    <label>Reassign or delete @client.FirstName @client.LastName:</label>
    <select>
      @* get list of stylists somehow *@
      <option>Delete</option>
      @foreach (Stylist stylist in ViewBag.Stylists)
      {
        <option>@stylist.FirstName @stylist.LastName</option>
      }
    </select>
      @* need to use string interpolation to give unique ids to these html elements. How to get values on c# side in controller? *@
  }

  <input type="submit" value="Delete Stylist and Save Changes" />
}