@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h2>Stylist Details:</h2>

<h4>@Model.FirstName @Model.LastName</h4>
<p>@Html.ActionLink("Edit Stylist", "Edit", new {id = Model.StylistId})</p>

<h5>@Model.FirstName's Clients:</h5>
@if (Model.Clients.Count == 0)
{
  <p>Stylist has no clients. Please use the link below to add a client.</p>
}
else
{
  foreach (Client client in Model.Clients)
  {
    <p>@Html.ActionLink($"{client.FirstName} {client.LastName}", "Details", "Clients", new {id = client.ClientId})</p>
  }
}
<p>@Html.ActionLink($"Add a Client for {Model.FirstName}", "Create", "Clients", new {stylistId = Model.StylistId, stylistName = Model.FirstName})</p>