@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h2>Edit Client</h2>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.HiddenFor(model => model.StylistId)
  @Html.LabelFor(model => model.FirstName, "First Name")
  @Html.EditorFor(model => model.FirstName)
  @Html.LabelFor(model => model.LastName, "Last Name")
  @Html.EditorFor(model => model.LastName)
  @Html.LabelFor(model => model.PhoneNumber, "Phone Number: ###-###-####")
  @Html.EditorFor(model => model.PhoneNumber, new {@type = "tel", @pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}"})
  <input type="submit" value="Save Changes" />
}
